@model Projekt.Models.MagazynModel
@{
    ViewBag.Title = "Edytuj";
}

<h2>Edytuj produkt w magazynie</h2>
<form method="post">
    <fieldset>
        <div class="editor-label">
            Nazwa produktu
        </div>
        <div class="editor-field">
            <input name="skladnik.nazwaSkladnika" value="@Model.nazwaSkladnika" />
        </div>

        <div class="editor-label">
            Ilość produktu
        </div>
        <div class="editor-field">
            <input name="skladnik.waga" value="@Model.waga" />
        </div>

        <br />
        <p>
            <input type="submit" class="btn btn-warning" value="OK">
            <a href="/Magazyn/Index" class="btn btn-warning" role="button">Powrót</a>
        </p>

    </fieldset>
</form>
