@using Projekt.Models
@model List<MagazynModel>
@{
    ViewBag.Title = "Lista produktów";
}

<h2>Lista magazynowa produktów</h2>

    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Nazwa</th>
            <th>Ilość</th>
            <th>Edytuj produkt</th>
            <th>Usuń produkt</th>
        </tr>
        @{int id = 0; }
        @foreach (MagazynModel skladnik in Model)
        {
            <tr>
                <td>@id</td>
                <td>@skladnik.nazwaSkladnika</td>
                <td>@skladnik.waga</td>
                <td><a href="/Magazyn/Edytuj?id=@id" class="btn btn-warning" role="button">Edycja</a></td>
                <td><a href="/Magazyn/Usun?id=@(id++)" class="btn btn-warning" role="button">Usuń</a></td>
            </tr>
        }


    </table>

    <a href="/Magazyn/Edytuj" class="btn btn-warning" role="button">Dodaj rekord</a>


