@model Projekt.Models.ZamowienieModel
@{
    ViewBag.Title = "EdytujZamowienie";
}

<h2>Edytuj Zamowienie</h2>
<form method="post">
    <fieldset>
        <div class="editor-label">
            Nazwa Dania
        </div>
        <div class="editor-field">
            <input name="zamowienie.nazwaDania" value="@Model.nazwaDania" />
        </div>

        <div class="editor-label">
            Ilość
        </div>
        <div class="editor-field">
            <input name="zamowienie.ilosc" value="@Model.ilosc" />
        </div>

        <div class="editor-label">
            Cena
        </div>
        <div class="editor-field">
            <input name="zamowienie.cena" value="@Model.cena" />
        </div>

        <br />
        <p>
            <input type="submit" class="btn btn-warning" value="OK">
            <a href="@Url.Action("Zamowienie", "Klienci", new { id = ViewBag.id })" class="btn btn-warning" role="button">
                Powrót
            </a>
        </p>

    </fieldset>
</form>



