@using Projekt.Models
@model List<KlientModel>
@{
    ViewBag.Title = "Archiwum klientów";
}

<h2>Lista klientów</h2>
    <table class="table table-hover">
        <tr>
            <th>Id</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Data obsługi</th>
            <th>Zobacz zamówienie</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        @{int id = 0; }
        @foreach (KlientModel klient in Model)
        {
            <tr>
                <td>@id</td>
                <td>@klient.imie</td>
                <td>@klient.nazwisko</td>
                <td>@klient.data</td>
                <td><a href="/Klienci/Zamowienie?id=@(id)" class="btn btn-warning" role="button">Pokaż</a></td>
                <td><a href="/Klienci/Edytuj?id=@(id)" class="btn btn-warning" role="button">Edycja</a></td>
                <td><a href="/Klienci/Usun?id=@(id++)" class="btn btn-warning" role="button">Usuń</a></td>
            </tr>
        }
    </table>

<a href="/Klienci/Edytuj" class="btn btn-warning" role="button">Dodaj klienta</a>
