@using Projekt.Models
@model List<ZamowienieModel>
@{
    ViewBag.Title = "Zamowienie";
}

<h2>Zamowienie</h2>
<form method="get" action="/Klienci/Dodaj">
    <table>
        <tr>
            <th>Id</th>
            <th>Nazwa dania</th>
            <th>Ilość</th>
            <th>Cena</th>
            <th></th>
        </tr>
        @{int id = ViewBag.id;
            int idZam = 0; }
        @foreach (ZamowienieModel zamowienie in Model)
        {
            <tr>
                <td>@idZam</td>
                <td>@zamowienie.nazwaDania</td>
                <td>@zamowienie.ilosc</td>
                <td>@zamowienie.cena</td>
                <td><a href="/Klienci/EdytujZamowienie?id=@(id)&idZam=@(idZam++)">Edycja</a></td>
            </tr>
        }
        <a href="/Klienci/EdytujZamowienie">Dodaj</a>
    </table>
</form>

